<ion-view view-title="Start">
    <ion-content>
        <div class="head">
            <h1>Règles du jeu :</h1>
            <p>Vous avez 8 secondes pour obtenir un maximum de points en cliquant sur les balles mouvantes (mais attention au
                malus)
            </p>
        </div>
        <div id="start" class="button-container">
            <a class="button" ng-click="reset" href="#/app/game">Débuter le jeu
                <i class="fas fa-3x fa-play-circle"></i>
            </a>
        </div>

        </iframe>
    </ion-content>
</ion-view>